<nav class="navbar navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand">
      <h5>
        {{'siteTitle' | translate}}
      </h5>
    </a>
    <span class="inline-form">
      <select class="form-control" #selectedLang (change)="switchLang(selectedLang.value)">
        <option *ngFor="let language of translate.getLangs()" [value]="language" [selected]="language === translate.currentLang">{{this.simpleLang(language)}}</option>
      </select>
    </span>
  </div>
</nav>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <div class="card mt-5">
        <div class="card-body">
          <h3>
            {{'greetings' | translate}}, {{'headingText' | translate}} {{name}}
          </h3>
          <hr/>

          <p>
            {{'subHeading'| translate}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
